
.table-wrapper th:nth-child(1),
.table-wrapper td:nth-child(1) {
    left: 0;
    width: 100px;
    z-index: 30;
}

.table-wrapper th:nth-child(2),
.table-wrapper td:nth-child(2) {
    left: 100px;
    width: 120px;
    z-index: 30;
}

.table-wrapper th:nth-child(3),
.table-wrapper td:nth-child(3) {
    left: 100px;
    width: 120px;
    z-index: 30;
}
.table-wrapper th:nth-child(4),
.table-wrapper td:nth-child(4) {
    left: 100px;
    z-index: 25;
    width: auto;
}
.table-wrapper th:nth-child(5),
.table-wrapper td:nth-child(5) {
    left: 100px;
    width: 120px;
    z-index: 30;
}
.table-wrapper th:nth-child(6),
.table-wrapper td:nth-child(6) {
    left: 120px;
    width: 120px;
    z-index: 30;
}
.table-wrapper th:nth-child(7),
.table-wrapper td:nth-child(7) {
    width: 140px;
    text-align: right;
}
.tresc-popup {
    cursor: pointer;
}
